<!doctype html>
<html lang="{{ metadata.language }}">
<head>
{% include "partials/seo.njk" %}
</head>
<body>
<a href="#main-content" class="skip-to-content">Skip to content</a>
{% include "partials/control.njk" %}
{% include "partials/nav.njk" %}
<main id="main-content">
{{content|safe}}
</main>
{% include "partials/footer.njk" %}
</body>
</html>
