<footer class="container mt-3 text-center">
<p>Built With <a href="https://11ty.dev" target="_blank">{{ eleventy.generator }}</a> {{metadata.footer.text1}} 
<a href="{{metadata.footer.text2_url}}" target="_blank">{{metadata.footer.text2}}</a>
</p>
</footer>
{% include "partials/script.njk" %}
{%- js %}{% include "public/js/bs.js" %}{% endjs %}
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
